* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: whitesmoke;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    padding: 2em;
    min-height: 100vh;
    font-size: 2em;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}